@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c|PT+Mono&subset=cyrillic');
@import './variables.scss';

// Общие стили и ресеты
// ==================================================
body {
    margin: 0;
    font-family: $font-family-base;
    line-height: 1.4;
    color: #333;
    background: #fff;
}

h1 {
    margin: 0;
    font-family: $font-family-accent;
    font-size: 3rem;
    font-weight: normal;
    line-height: 1;
}

h2 {
    margin: 0 0 $indent-secondary 0;
    font-family: $font-family-accent;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1;
}

p {
    margin: 0;
}

a {
    color: $color-accent;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

hr {
    margin: $indent-secondary 0;
    border-top: $border-secondary;
}

.no-break {
    white-space: nowrap;
}

.only-print {
    display: none;
}


// Блоки основной разметки
// ==================================================
@import './grid.scss';


// Блоки контентной разметки
// ==================================================
@import './experience.scss';
@import './skills.scss';
@import './hobby.scss';


// Адаптивное поведение и печать
// ==================================================
@media screen and (max-width: 1024px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 640px) {
    html {
        font-size: 13px;
    }

    h1,
    h2 {
        text-align: center;
    }
}

@import './print.scss';