@import './variables.scss';

// Сетка страницы
// ==================================================
.wrapper {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 $indent-primary;

    &__row {
        display: flex;
        align-items: flex-start;
        margin: $indent-primary 0;
    }

    &__left-col {
        box-sizing: border-box;
        width: 65%;
        padding-right: $indent-primary;
        border-right: $border-primary;
    }

    &__right-col {
        box-sizing: border-box;
        width: 35%;
        padding-left: $indent-primary;
    }

    &__right-first-box {
        margin-bottom: $indent-secondary;
        padding-bottom: $indent-secondary;
        border-bottom: $border-secondary;
    }

    @media screen and (max-width: 900px) {
        &__row {
            flex-wrap: wrap;
        }

        &__left-col {
            width: 100%;
            padding: 0 0 $indent-primary 0;
            border-right: unset;
            border-bottom: $border-primary;
        }

        &__right-col {
            width: 100%;
            margin-top: $indent-primary;
            padding-left: unset;
        }
    }
    
    @media screen and (min-width: 641px) and (max-width: 900px) {
        &__right-col {
            display: flex;
        }

        &__right-first-box {
            width: 60%;
            margin-bottom: 0;
            padding: 0 $indent-primary 0 0;
            border-right: $border-secondary;
            border-bottom: unset;
        }

        &__right-second-box {
            width: 40%;
            padding-left: $indent-primary;
        }
    }
}

.header {
    display: block;
    padding: $indent-primary 0;
    border-bottom: $border-primary;

    @media screen and (max-width: 640px) {
        text-align: center;
    }
}

.footer {
    display: block;
    padding: $indent-primary 0;
    text-align: center;
    border-top: $border-secondary;
}