
@import './variables.scss';

// Увлечения
// ==================================================
.hobby {
    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: $indent-secondary;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item {
        $hobby-item-size: 4.5em;

        width: $hobby-item-size;
        height: $hobby-item-size;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        &_snowboarding {
            background-image: url('../images/snowboard.svg');
        }

        &_ukulele {
            background-image: url('../images/ukulele.svg');
        }

        &_knitting {
            background-image: url('../images/knitting.svg');
        }

        &_games {
            background-image: url('../images/board-games.svg');
        }

        &_books {
            background-image: url('../images/books.svg');
        }

        &_car-travel {
            background-image: url('../images/car-travel.svg');
        }
    }

    @media screen and (min-width: 641px) and (max-width: 846px) {
        &__wrapper {
            display: flex;
            justify-content: space-around;
        }

        &__box {
            flex-direction: column;
            margin-bottom: 0;
        }

        &__item {
            margin-bottom: $indent-secondary;
        }
    }

    @media screen and (max-width: 640px) {
        &__box {
            justify-content: space-around;
        }
    }

    @media screen and (max-width: 340px) {
        &__wrapper {
            display: flex;
            justify-content: space-around;
        }

        &__box {
            flex-direction: column;
            margin-bottom: 0;
        }

        &__item {
            margin-bottom: $indent-secondary;
        }
    }
}