@import './variables.scss';

$print-indent-primary: 1cm;
$print-indent-secondary: .6cm;

@media print {
    * {
        -webkit-print-color-adjust: exact;
    }


    // Общие стили
    // ==================================================
    html {
        font-size: 13px;
    }

    h2 {
        margin-bottom: $print-indent-secondary;
    }

    hr {
        margin: $print-indent-secondary 0;
    }

    .only-print {
        display: block;
    }


    // Сетка страницы
    // ==================================================
    .wrapper {
        padding: .5cm;
    
        &__row {
            margin: $print-indent-primary 0 0 0;
        }
    
        &__left-col {
            width: 63%;
            padding-right: $print-indent-primary;
        }
    
        &__right-col {
            width: 37%;
            padding-left: $print-indent-primary
        }

        &__right-first-box {
            margin-bottom: $print-indent-secondary;
            padding-bottom: $print-indent-secondary;
        }
    }

    .header {
        padding: 0 0 $print-indent-primary 0;
    }

    .footer {
        display: none;
    }


    // Жизненный опыт
    // ==================================================
    .experience {    
        &__item {
            margin-bottom: $print-indent-secondary - .1cm;
        }
    }


    // Увлечения
    // ==================================================
    .hobby {
        &__wrapper {
            display: flex;
            justify-content: space-around;
        }

        &__box {
            flex-direction: column;
            margin-bottom: 0;
        }

        &__item {
            margin-bottom: $print-indent-secondary;
        }
    }
}