@import './variables.scss';

// Суперспособности
// ==================================================
.skills {
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1em;

        &_last {
            margin-bottom: $indent-secondary;
        }
    }

    &__item-name {
        width: 4.5em;
    }

    &__item-level {
        position: relative;
        width: calc(100% - 4.5em);
        height: 1em;
        border: $border-primary;

        &:before {
            content: '';
            box-sizing: border-box;
            display: block;
            position: absolute;
            top: -1px;
            left: -1px;
            height: calc(100% + 2px);
            background: $color-accent;
            border-top: $border-primary;
            border-bottom: $border-primary;
        }

        &_html:before {
            width: 95%;
        }

        &_css:before {
            width: 95%;
        }

        &_scss:before {
            width: 80%;
        }

        &_js:before {
            width: 40%;
        }

        &_git:before {
            width: 70%;
        }

        &_english:before {
            width: 60%;
        }
    }
}