// Общие переменные
// ==================================================
$font-family-base: 'M PLUS Rounded 1c', Arial, sans-serif;
$font-family-accent: 'PT Mono', monospace;

$color-accent: #834c69;

$border-primary: 2px solid $color-accent;
$border-secondary: 1px dotted rgba(131, 75, 105, .5);

$indent-primary: 3em;
$indent-secondary: 2em;